* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  text-align: center;
}

.choices-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.choices-result {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin-bottom: 20px;
}

.rules-image-container {
  text-align: center;
}

.close-button {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.score {
  font-family: 'Roboto';
}
